@import url("//fonts.googleapis.com/css?family=Lato:300,400,700");


body,p,a,ul,ol,
h1,h2,h3,h4,h5,h6,input,pre {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
	padding-top: 70px;
	}


header {
	background-color: #333;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 70px;
	padding: 20px;
	z-index: 200;
	}

header button {
	border-radius: 3px;
	padding: 2px 8px;
	font-size: 1.3em;
	border: 0;
	background-color: #d9edea;
	}

header .dropdown {
	display: inline-block;
	margin-right: 30px;
	}


header .dropdown a.dropdown-item {
	display: block;
	text-decoration: none;
	padding: 3px 5px;

	}

header .dropdown a.dropdown-item:hover {
	background-color: #efefef;

	}

input {
	background-color: #efefef;
}

#og-list {
	padding: 0;
	text-align: center;
}

#og-list li {
	list-style-type: none;
	display: inline-block;
	margin: 20px;
	position: relative;
	z-index: 1;
}

#og-list li img {
	max-height: 200px;
}

#og-list li.no-img {
	height: 200px;
	width: 140px;
	background-color: #333;
	display: inline-block;
	vertical-align: middle;
	padding: 12px;
}

#og-list li.no-img a {
	color: #fff;
	text-decoration: none;
}


#og-list li a.details {
	display: none;
	color: #fff;
	text-decoration: none;
}

#og-list li a.details span, #og-list li.no-img a span {
	display: block;
	margin-bottom: 20px;
}

#og-list li:hover a.details {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 200px;
	z-index: 100;
	background-color: rgba(51,51,51,0.9);
	padding: 12px;
}

#og-list i {
	font-size: 2vw;
}


#headertext {
	;
}

#FormInfo {
	;'
}

#textbox {
	;
}
